html, body, *{
  margin: 0; padding:0;
  box-sizing: border-box;
  font-size: 10px;
  
}

:root{
  --grassstage1: #3fce1b;
  --grassstage2: #1cb70e;
  --grassstage3: #238c08;
  --waterstage1: #0292f2;
  --waterstage2: #0066ff;
  --waterstage3: #0640c8;

  --firestage1: #f84747;
  --firestage2: #da3535;
  --firestage3: #dc2626;

  --fireback: #5e0000;
  --waterback: #0e256d;
  --grassback: #5eec62;
  
  --font-color: #001010;

  

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
body{
  transition: all 0.5s;
}
h1{
  font-size: 100px;
}
.card-head{
  font-size: 3vw;
}
h2{
  font-size: var(--h2);
}
body{
  text-align: center;
}
button{
  font-size: 20px;
  height: 50px;
  width: auto;
}


.basic{
  background-image:("./tile.png");
  background-size: 500px;
  
}
.aqua{
  background-color: var(--waterback);
  
}
.fuego{
  background-color: var(--fireback);
}
.leaf{
  background-color: var(--grassback);
}

.container{
  display: flex;
  width: 85vw;
  margin: 2rem auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card{
  display: flex;
  margin: 3rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 26%;
  height: auto;
 
  border-radius: 10px;
  border: 5px solid black;

  font-size: 1vw;
  
}

.card-image{
  height: 15vw;
  width: 70%;
}
#Grass1{
  
  background-color: var(--grassstage1);
}
#Grass2{
  background-color: var(--grassstage2);
}
#Grass3{
  background-color: var(--grassstage3);
}
#Water1{
  background-color: var(--waterstage1);
}
#Water2{
  background-color: var(--waterstage2);
}
#Water3{
  background-color: var(--waterstage3);
}
#Fire1{
  background-color: var(--firestage1);
}
#Fire2{
  background-color: var(--firestage2);
}
#Fire3{
  background-color: var(--firestage3);
}

